.chat-room-container {
    display: flex;
}

.chat-rooms-list {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 15%;
}

.chat-room-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 1px;
    height: fit-content;
}

.chat-room-item-title {
    font-weight: bold;
}

.chat-box {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 5px;
    width: 85%;
    height: 90vh;
}

.message-container {
    overflow-y: auto;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message-row {
    width: 97%;
    height: fit-content;
    margin: 5px;
    clear: both;
}

.message-item {
    width: 40%;
    float: right;
}

.message-item.stranger {
    float: left;
}

.message-item.stranger .message-content {
    background-color:dimgray;
}


.message-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.message-content {
    background-color: dodgerblue;
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    margin-top: 0;
    word-wrap: break-word;
}

/* Message to send input and button styling */

.chat-box-footer {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
}

.message-to-send-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 95%;
    height: 100%;
}

.message-to-send-container input {
    width: 100%;
}

.message-to-send-container form {
    width: 95%;
}

.send-message-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
}

.send-message-button-container button {
    height: 80%;
}

